body {
  background-image: url(vitmebackgroung.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  }
  
  .container {
    max-width: 400px;
    margin: 5vw auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
    background-color: rgb(65, 119, 129);
    border: 1px solid white;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  form {
    margin-top: 15px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .nav{
    margin-top: 20px;
  }
  .nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.nav a:hover {
    background-color: #0056b3;
}