.nav{
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.nav{
    padding: 30px;
}
.nav a {
color: #ffffff;
text-decoration: none;
padding: 10px 20px;
border-radius: 5px;
background-color: #007bff;
transition: background-color 0.3s ease;
font-weight: bold;
}
.nav a:hover {
background-color: #0056b3;
}
h1{
    text-align: center;
}